In [1]:
import pandas as pd
import requests
import sqlite3

url_pais = 'https://apiv2.allsportsapi.com/football/?met=Countries&APIkey=82fb1cf25a7801dd710ec3a11aebaaac53c6b054b0a1389a923727f1d82c902d'
url_ligas = 'https://apiv2.allsportsapi.com/football/?met=Leagues&APIkey=82fb1cf25a7801dd710ec3a11aebaaac53c6b054b0a1389a923727f1d82c902d'
url_artilheiros = 'https://apiv2.allsportsapi.com/football/?&met=Topscorers&leagueId=207&APIkey=82fb1cf25a7801dd710ec3a11aebaaac53c6b054b0a1389a923727f1d82c902d'

headers = {
    'X-Auth-Token': '528baf18643e4a3da10efdbb55958cfa'  # Replace 'YOUR_API_TOKEN' with your actual API token
}
response_pais = requests.get(url_pais, headers=headers)
response_ligas = requests.get(url_ligas, headers=headers)
response_artilheiros = requests.get(url_artilheiros, headers=headers)

In [2]:
if response_pais.status_code == 200 and response_ligas.status_code == 200 and response_artilheiros.status_code == 200:
    data_pais = response_pais.json()
    data_ligas = response_ligas.json()
    data_artilheiros = response_artilheiros.json()
else:
    print("Erro ao acessar a API")

In [3]:
# Utilizando a função json_normalize para apresentar os resultados em forme de tabela
# E o metodo fillna para tratativa de valores ausentes

pais_full = pd.DataFrame(data_pais)
pais_full = pd.json_normalize(pais_full.result).fillna(0)
pais_full

,country_key,country_name,country_iso2,country_logo
0,3,France,FR,https://apiv2.allsportsapi.com/logo/logo_count...
1,98,Scotland,GB,https://apiv2.allsportsapi.com/logo/logo_count...

In [4]:
# Utilizando a função json_normalize para apresentar os resultados em forme de tabela
# E o metodo fillna para tratativa de valores ausentes

ligas_full = pd.DataFrame(data_ligas)
ligas_full = pd.json_normalize(ligas_full.result).fillna(0)
ligas_full

,league_key,league_name,country_key,country_name,league_logo,country_logo
0,177,Premier League,50,Ghana,https://apiv2.allsportsapi.com/logo/logo_leagu...,https://apiv2.allsportsapi.com/logo/logo_count...
1,423,Cup,73,Lithuania,https://apiv2.allsportsapi.com/logo/logo_leagu...,https://apiv2.allsportsapi.com/logo/logo_count...

In [5]:
# Utilizando a função json_normalize para apresentar os resultados em forme de tabela
# E o metodo fillna para tratativa de valores ausentes

artilheiros_full = pd.DataFrame(data_artilheiros)
artilheiros_full = pd.json_normalize(artilheiros_full.result).fillna(0) 
artilheiros_full

,player_place,player_name,player_key,team_name,team_key,goals,assists,penalty_goals
0,1,L. Martínez,2464726737,Inter Milan,79,14,0.0,1
1,2,O. Giroud,4271018749,AC Milan,159,8,0.0,3
2,5,R. Lukaku,592781429,Roma,139,7,0.0,0
3,3,D. Berardi,3390910691,Sassuolo,4975,7,3.0,3
4,4,H. Çalhanoğlu,322318492,Inter Milan,79,7,0.0,6
5,6,J. Zirkzee,2732809988,Bologna,4983,7,0.0,1
6,10,N. González,379872929,Fiorentina,4974,6,0.0,1
7,9,A. Colpani,818864052,Monza,4990,6,0.0,0
8,8,G. Bonaventura,1915699434,Fiorentina,4974,6,0.0,0
9,12,M. Soulé,4265859702,Frosinone,5000,6,0.0,1
10,7,A. Lookman,3996848288,Atalanta,85,6,0.0,0
11,13,M. Thuram,165919460,Inter Milan,79,6,6.0,0
12,11,V. Osimhen,4282558875,Napoli,152,6,0.0,2
13,14,A. Guðmundsson,2441657013,Genoa,4986,5,0.0,0
14,15,A. Pinamonti,3560019589,Sassuolo,4975,5,0.0,0
15,1,C. Ngonge,366023681,Verona,4982,2,0.0,0
16,3,M. Faraoni,232443902,Verona,4982,1,0.0,0
17,2,E. Ampadu,2180554336,Spezia,4977,1,0.0,0

In [6]:
# Renomeando o titulo das colunas
pais_full = pais_full.rename(columns={
    'country_key': 'id_pais',
    'country_name': 'nome_pais',
    'country_iso2': 'sigla_pais',
    'country_logo': 'logo_pais'
})
ligas_full = ligas_full.rename(columns={
    'league_key':'id_liga',
    'league_name':'nome_liga',
    'country_key': 'id_pais',
    'country_name': 'nome_pais',
    'league_logo': 'logo_liga',
    'country_logo': 'pais_logo'
})

artilheiros_full = artilheiros_full.rename(columns={
    'player_place':'colocacao',
    'player_name':'nome_jogador',
    'player_key': 'id_jogador',
    'team_name': 'time',
    'team_key': 'id_time',
    'goals': 'qtd_gols',
	'assists': 'qtd_assist',
	'penalty_goals': 'gols_penalti',
})

In [7]:
# Tratando os tipos das variaveis
pais_full['id_pais'] = pais_full['id_pais'].astype('int')
pais_full['nome_pais'] = pais_full['nome_pais'].astype('string')
pais_full['sigla_pais'] = pais_full['sigla_pais'].astype('string')
pais_full['logo_pais'] = pais_full['logo_pais'].astype('string')
					
ligas_full['id_liga'] = ligas_full['id_liga'].astype('int')
ligas_full['nome_liga'] = ligas_full['nome_liga'].astype('string')
ligas_full['id_pais'] = ligas_full['id_pais'].astype('int')
ligas_full['nome_pais'] = ligas_full['nome_pais'].astype('string')
ligas_full['logo_liga'] = ligas_full['logo_liga'].astype('string')
ligas_full['pais_logo'] = ligas_full['pais_logo'].astype('string')

artilheiros_full['colocacao'] = artilheiros_full['colocacao'].astype('int')
artilheiros_full['nome_jogador'] = artilheiros_full['nome_jogador'].astype('string')
artilheiros_full['id_jogador'] = artilheiros_full['id_jogador'].astype('int')
artilheiros_full['time'] = artilheiros_full['time'].astype('string')
artilheiros_full['id_time'] = artilheiros_full['id_time'].astype('int')
artilheiros_full['qtd_gols'] = artilheiros_full['qtd_gols'].astype('int')
artilheiros_full['qtd_assist'] = artilheiros_full['qtd_assist'].astype('int')
artilheiros_full['gols_penalti'] = artilheiros_full['gols_penalti'].astype('int')

In [8]:
#Visualizando tipagem dos dados:

pais_full.dtypes

id_pais                int32
nome_pais     string[python]
sigla_pais    string[python]
logo_pais     string[python]
dtype: object

In [9]:
#Visualizando tipagem dos dados:

ligas_full.dtypes

id_liga               int32
nome_liga    string[python]
id_pais               int32
nome_pais    string[python]
logo_liga    string[python]
pais_logo    string[python]
dtype: object

In [10]:
#Visualizando tipagem dos dados:

artilheiros_full.dtypes

colocacao                int32
nome_jogador    string[python]
id_jogador               int32
time            string[python]
id_time                  int32
qtd_gols                 int32
qtd_assist               int32
gols_penalti             int32
dtype: object

In [11]:
# Visualizando dados após tratativas:

pais_full

,id_pais,nome_pais,sigla_pais,logo_pais
0,3,France,FR,https://apiv2.allsportsapi.com/logo/logo_count...
1,98,Scotland,GB,https://apiv2.allsportsapi.com/logo/logo_count...

In [12]:
# Visualizando dados após tratativas:

ligas_full

,id_liga,nome_liga,id_pais,nome_pais,logo_liga,pais_logo
0,177,Premier League,50,Ghana,https://apiv2.allsportsapi.com/logo/logo_leagu...,https://apiv2.allsportsapi.com/logo/logo_count...
1,423,Cup,73,Lithuania,https://apiv2.allsportsapi.com/logo/logo_leagu...,https://apiv2.allsportsapi.com/logo/logo_count...

In [13]:
# Visualizando dados após tratativas:

artilheiros_full

,colocacao,nome_jogador,id_jogador,time,id_time,qtd_gols,qtd_assist,gols_penalti
0,1,L. Martínez,-1830240559,Inter Milan,79,14,0,1
1,2,O. Giroud,-23948547,AC Milan,159,8,0,3
2,5,R. Lukaku,592781429,Roma,139,7,0,0
3,3,D. Berardi,-904056605,Sassuolo,4975,7,3,3
4,4,H. Çalhanoğlu,322318492,Inter Milan,79,7,0,6
5,6,J. Zirkzee,-1562157308,Bologna,4983,7,0,1
6,10,N. González,379872929,Fiorentina,4974,6,0,1
7,9,A. Colpani,818864052,Monza,4990,6,0,0
8,8,G. Bonaventura,1915699434,Fiorentina,4974,6,0,0
9,12,M. Soulé,-29107594,Frosinone,5000,6,0,1
10,7,A. Lookman,-298119008,Atalanta,85,6,0,0
11,13,M. Thuram,165919460,Inter Milan,79,6,6,0
12,11,V. Osimhen,-12408421,Napoli,152,6,0,2
13,14,A. Guðmundsson,-1853310283,Genoa,4986,5,0,0
14,15,A. Pinamonti,-734947707,Sassuolo,4975,5,0,0
15,1,C. Ngonge,366023681,Verona,4982,2,0,0
16,3,M. Faraoni,232443902,Verona,4982,1,0,0
17,2,E. Ampadu,-2114412960,Spezia,4977,1,0,0

In [14]:
# Criando conexão com BD
conn = sqlite3.connect('tratamentobases.db')

In [15]:
# Salvando DataFrame no BD

pais_full.to_sql('pais', conn,if_exists='replace', index=False)
ligas_full.to_sql('ligas', conn,if_exists='replace',index=False)
artilheiros_full.to_sql('artilheiros', conn,if_exists='replace',index=False)

18